@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center">Распродажа книг</h1>
    <div class="row">

        @foreach (var b in ViewBag.Books)
            {
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img align="center" src="@b.ImageUrl" class="img-fluid">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">@b.Author</h4>
                            <p class="card-text">

                                @b.Name<br />
                                @b.Price руб.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="" class="card-link"><a href="/Home/Buy/@b.Id">Купить</a>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>


